body {
 font-family: Android, Arial, Helvetica, sans-serif;
 font-size: medium;
 color:#333;
 line-height:26px;
 background: url(theme/content-bg.jpg) repeat;
}
.container {
 margin: 0 auto;
 width: 940px;
 background: url(theme/header-footer-bg.jpg) repeat;
}
#footer {
 width:100%;
 text-align: center;
}

#logo {
 padding:15px 0;
 text-shadow: 0px 0px 15px #999999;
}

h2 {
 padding:15px 15px;
 text-shadow: 0px 0px 15px #999999;
}
a {
  color: #333;
  text-decoration: none;
}

td {
  padding: 10px;
}
img {
  margin 10px;
  border: 5px solid #99A;
}
a:hover {
 padding:15px 0;
 text-shadow: 0px 0px 15px #999999;
}
p {
    text-indent: 1em;
}