
ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, div.paragraph, blockquote, fieldset, input { margin: 0; padding: 0; }
 ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, p, blockquote, fieldset, input {
  margin: 0;
  padding: 0;
 }
 a img { border: 0; }
 a { text-decoration: none; }
 body {
 font-family: 'VT323', monospace;
 font-family: 'Comfortaa', cursive;
 font-size: 15px; color:#444444;
 line-height:26px; background:url(theme/header-footer-bg.jpg?603749) repeat; }
 .container { margin: 0 auto; width: 940px; }
 #header-wrap, #banner-wrap, #nav-wrap, #nav-border-top, #nav-border-bottom, #main-wrap, #footer-wrap, #footer-inner-wrap, #outer-banner-wrap { background: url(theme/content-bg.jpg?603749) repeat; width:100%; }
 a { color: #a74403; }
 a:hover { color: #2f7a00; }
 h2 { font-size: 30px; padding: .5em 0 .2em 0; line-height: 1.2;
 font-family: 'Oswald', sans-serif; font-weight:bold; text-transform:uppercase; color: #333333; }
 div.paragraph { line-height: 1.5; padding: .5em 0; }
 p { line-height: 1.5; padding: .5em 0; }
 div#content {min-height:400px;}
 #header-wrap { padding:10px 0px; }
 #logo, #logo a { font-size:40px; color:#fff; text-transform:uppercase; font-weight:bold;
 font-family: 'Oswald', sans-serif;
 padding:15px 0; text-shadow: 0px 0px 15px #999999; display:block; line-height:50px; max-width:500px; }
 #logo a:hover { color:#fff; }
 #header, #nav-wrap table { border-collapse: collapse; border-spacing: 0; width:100%; }
 #header td, #nav-wrap table td { vertical-align: middle; text-align: left; }
 #header-right table { float: right; width: 1px; }
 #header-right td, #header-left td { padding: 0; }
 #header-left table { float: left; width: 1px; margin-left:-5px; }
 #header-right .phone-number .wsite-text { color: #aaaaaa; font-size: 14px; font-style: italic; display: block; white-space: nowrap; }
 .wsite-social { vertical-align: middle; }
 .wsite-social-item { width: 25px; height: 25px; margin: 0 0 0 3px; background-image:url(theme/social-grey-to-black.png?603749); }
 .wsite-social-facebook {background-position:0 0;}
 .wsite-social-facebook:hover {background-position:0 -25px;}
 .wsite-social-facebook:active {background-position:0 -50px;}
 .wsite-social-pinterest {background-position:-25px 0;}
 .wsite-social-pinterest:hover {background-position:-25px -25px;}
 .wsite-social-pinterest:active {background-position:-25px -50px;}
 .wsite-social-twitter {background-position:-50px 0;}
 .wsite-social-twitter:hover {background-position:-50px -25px;}
 .wsite-social-twitter:active {background-position:-50px -50px;}
 .wsite-social-linkedin {background-position:-75px 0;}
 .wsite-social-linkedin:hover {background-position:-75px -25px;}
 .wsite-social-linkedin:active {background-position:-75px -50px;}
 .wsite-social-mail {background-position:-100px 0;}
 .wsite-social-mail:hover {background-position:-100px -25px;}
 .wsite-social-mail:active {background-position:-100px -50px;}
 .wsite-social-rss {background-position:-125px 0;}
 .wsite-social-rss:hover {background-position:-125px -25px;}
 .wsite-social-rss:active {background-position:-125px -50px;}
 .wsite-social-flickr {background-position:-150px 0;}
 .wsite-social-flickr:hover {background-position:-150px -25px;}
 .wsite-social-flickr:active {background-position:-150px -50px;}
 .wsite-social-plus {background-position:-175px 0;}
 .wsite-social-plus:hover {background-position:-175px -25px;}
 .wsite-social-plus:active {background-position:-175px -50px;}
 .wsite-social-vimeo {background-position:-200px 0;}
 .wsite-social-vimeo:hover {background-position:-200px -25px;}
 .wsite-social-vimeo:active {background-position:-200px -50px;}
 .wsite-social-yahoo {background-position:-225px 0;}
 .wsite-social-yahoo:hover {background-position:-225px -25px;}
 .wsite-social-yahoo:active {background-position:-225px -50px;}
 .wsite-social-youtube {background-position:-250px 0;}
 .wsite-social-youtube:hover {background-position:-250px -25px;}
 .wsite-social-youtube:active {background-position:-250px -50px;}
 #header-left .wsite-search { margin-right: 15px; vertical-align: middle; background:url(theme/search-bg.png?603749) no-repeat top left; width:227px; height:28px; }
 #header-left .wsite-search-input { width: 180px; background: none; border: none; margin-top: 2px; color: #666666; float:right; font-size:12px; font-style:italic;
 }
 #header-left .wsite-search-button { position: relative; width: 16px; height: 15px; margin: 7px 10px; background: url(theme/serach-icon.png?603749) no-repeat top left; }
 #nav-wrap { background:url(theme/header-footer-bg.jpg) repeat; }
 #nav-border-top { background:url(theme/nav-border-top.jpg) repeat-x top; }
 #nav-border-bottom { background:url(theme/nav-border-bottom.jpg) repeat-x bottom; }
 #nav-wrap .container { clear: both; position: relative; }
 #nav-wrap .container ul { list-style: none; float: right; height:100% }
 #nav-wrap .container ul li { list-style: none; float: left; height:100%; }
 #nav-wrap .container ul li a { display: block;
 font-family: 'Oswald', 'Impact', sans-serif; color: #fAf; padding: 42px 15px; border: 0; outline: 0; list-style-type: none; font-size: 16px; text-transform:uppercase; text-shadow: 0px 0px 15px #fAf; height:100%; }
 #nav-wrap .container ul li#active a, #nav-wrap .container ul li a:hover {
 color: #a74403; text-shadow: 0px 0px 15px #a74403; border: 0;
 background:url(theme/nav-active-green.png?603749) repeat-x center bottom; }
 #wsite-menus .wsite-menu { border:1px solid #f00; }
 #wsite-menus .wsite-menu li { border-bottom:1px solid #f00; }
 #wsite-menus .wsite-menu li:last-child { border-bottom:none; }
 #wsite-menus .wsite-menu li a {
   font-family: 'Oswald', sans-serif; font-size:16px; font-weight:bold;
   color: #fAf;
   text-transform:uppercase;
   background: #444444;
   border: 1px solid #575757;
 }
 #wsite-menus .wsite-menu li a:hover {
   color: #a7a4AA;
   background: #444444;
 }
 #banner-wrap { padding:35px 0; }
 .tall-header-page #banner-wrap {
  background:url(theme/banner-tall-bg.png?603749) no-repeat center;
  height:405px; }
 .tall-header-page .wsite-header {
     width: 920px; height: 380px;
     background: url(theme/banner-tall.jpg) no-repeat;
     margin: 12px 0 0 10px;
     float:left;
 }
 .short-header-page #banner-wrap {
  background:url(theme/banner-short-bg.png) no-repeat center;
  height:224px;
}
.short-header-page .wsite-header {
width: 920px; height: 200px;
background: url(theme/banner-short.jpg?603749) no-repeat;
margin: 12px 0 0 10px; float:left; }
.no-header-page .wsite-header { display:none; }
.landing-page #banner { background: none; padding: 0; }
#bannerleft { float: left; width: 544px; height:404px;
background:url(theme/banner-landing-bg.png?603749) no-repeat; }
 .landing-page .wsite-header { width: 520px; height: 380px; background: url(theme/banner-landing.jpg?603749) no-repeat; margin: 12px 0 0 12px; float:left; }
 #bannerright { float: right; width: 360px; padding-left: 36px; height:404px; }
 .landing-banner-outer { display: table; #position: relative; overflow: hidden; }
 .landing-banner-mid { #position: absolute; #top: 50%; display: table-cell; vertical-align: middle; }
 .landing-banner-inner { #position: relative; #top: -50%; }
 #bannerright h2 { color: #fff; font-size: 60px; padding: 0px; line-height: 60px; }
 #bannerright div.paragraph { color: #aaaaaa; padding: 20px 0px; line-height: 140%; }
 #bannerright p { color: #aaaaaa; padding: 20px 0px; line-height: 140%; }
 #main-wrap { padding-bottom:35px; }
 #main-wrap .container { padding:5px; background:#151515; border:1px solid #565656; margin:0 auto; }
 #main-wrap .inner-container { background:url(theme/content-bg-white.jpg) repeat; padding:20px; min-height:400px; }
 #main-wrap .container blockquote { font-style:italic; background:url(theme/quotes.png?603749) no-repeat left top; padding-left:60px; border-left:none; color:#777; margin:15px 0px; }
 #main-wrap .paragraph ul { padding-left:0px !important; }
 #main-wrap .paragraph ul li { list-style:none !important; background:url(theme/bullet-content.png?603749) no-repeat 0px 3px; padding-left:25px !important; }
 #main-wrap .container form .wsite-button { margin-top:20px; }
 #footer-wrap { text-align:right; background:url(theme/header-footer-bg.jpg) repeat; color:#aaa; padding-bottom:20px; }
 #footer-inner-wrap { background:url(theme/footer-top-bg.jpg) repeat-x top left; padding-top:25px; }
 #footer-wrap .container h2 { color:#fff; font-size:19px; }
 #footer-wrap .container a:hover { color: #fff; }
 #footer-wrap .paragraph ul { padding-left:0px !important; }
 #footer-wrap blockquote { font-style:italic; border-left:4px solid #444; margin:10px 0 10px 0; padding-left:20px; line-height:1.5; color:#666; }
 #footer-wrap .paragraph ul li { list-style:none !important; background:url(theme/bullet-footer.png?603749) no-repeat 0px 4px; padding-left:25px !important; }
 #footer-wrap .wsite-form-container { text-align:left; margin-top:0px !important; }
 .wsite-form-label { display: inline-block; font-weight:normal; }
 .wsite-form-input, .wsite-search-element-input { border: 1px solid #FFF; padding: 10px 5px !important; -webkit-border-radius: 30px; -moz-border-radius: 30px; border-radius: 30px; font-size:12px; -webkit-box-shadow: 0px 2px 2px 0px rgba(255, 255, 255, 0.3); box-shadow: 0px 2px 2px 0px rgba(255, 255, 255, 0.3); background: #e0e0e0; background: -moz-linear-gradient(top, #e0e0e0 0%, #ffffff 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e0e0e0), color-stop(100%,#ffffff)); background: -webkit-linear-gradient(top, #e0e0e0 0%,#ffffff 100%); background: -o-linear-gradient(top, #e0e0e0 0%,#ffffff 100%); background: -ms-linear-gradient(top, #e0e0e0 0%,#ffffff 100%); background: linear-gradient(to bottom, #e0e0e0 0%,#ffffff 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0e0', endColorstr='#ffffff',GradientType=0 ); }
 .form-radio-container { margin:0 !important; }
 .wsite-button { height: 36px; display: inline-block; padding: 0px 30px 0px 0px; background: url(theme/button-highlight.png?603749) no-repeat 100% -108px; }
 .wsite-button:hover { background-position: 100% -144px; }
 .wsite-button:active { background-position: 100% -180px; }
 .wsite-button-inner { color: #fff !important; height: 36px; line-height: 36px; display: block; font-size: 14px; padding: 0px 0px 0px 30px; text-shadow:0 -1px 1px rgba(0,0,0,0.8); background: url(theme/button-highlight.png) no-repeat 0px 0px; }
 .wsite-button:hover .wsite-button-inner { background-position: 0px -36px; }
 .wsite-button:active .wsite-button-inner { background-position: 0px -72px; }
 .wsite-button-large { color: #fff !important; height: 46px; background: url(theme/button-highlight-large.png?603749) no-repeat 100% -144px; padding: 0px 27px 0px 0px; }
 .wsite-button-large:hover { background-position: 100% -192px; }
 .wsite-button-large:active { background-position: 100% -240px; }
 .wsite-button-large .wsite-button-inner { height: 46px ; line-height: 46px; padding: 0px 0px 0px 27px; background: url(theme/button-highlight-large.png?603749) no-repeat 0px 0px; }
 .wsite-button-large:hover .wsite-button-inner { background-position: 0px -48px; }
 .wsite-button-large:active .wsite-button-inner { background-position: 0px -96px; }
 .wsite-button-highlight { background-image: url(theme/button_green.png?603749); }
 .wsite-button-highlight .wsite-button-inner { background-image: url(theme/button_green.png?603749); }
 .wsite-button-large.wsite-button-highlight { background-image: url(theme/button_large_green.png?603749); }
 .wsite-button-large.wsite-button-highlight .wsite-button-inner { background-image: url(theme/button_large_green.png?603749); }

div.paragraph ul, div.paragraph ol {
padding-left: 2.3em !important; margin: 5px 0 !important; overflow:hidden; }
div.paragraph li { padding-left: 5px !important; margin: 3px 0 0 !important; }
div.paragraph ul, div.paragraph ul li { list-style: disc outside !important; }
div.paragraph ol, div.paragraph ol li { list-style: decimal outside !important; }
