body {
 font-family: Android, Arial, Helvetica, sans-serif;
 font-size: 15px; color:#444444;
 line-height:26px;
 background: url(theme/content-bg.jpg) repeat;
}
.container {
 margin: 0 auto;
 width: 940px;
 background: url(theme/header-footer-bg.jpg) repeat;
}
#footer {
 width:100%;
 text-align: center;
}

#logo {
 font-size:40px; color:#fff;
 font-weight:bold;
 padding:15px 0;
 text-shadow: 0px 0px 15px #999999;
}

